.login__input {
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  margin: 0 0 30px;
  padding: 0 0 13px;
}

.login__input:last-of-type {
  margin: 0;
}

.login__input::placeholder {
  color: #CCCCCC;
}

.login__input:focus {
  outline: none;
  border-bottom: 2px solid white;
  /* color: white; */
}

/* .login__input::first-line {
  background-color: white;
} */

/* .login__input::selection {
  background-color: white;
} */