.popup__input-field {
  display: block;
  height: 58px;
  width: 100%;

  margin: 0;
  padding: 0;
}

.popup__input-field:first-child {
  margin: 46px 0 0;
}

@media screen and (max-width: 960px) {
  .popup__input-field:first-child {
    margin: 66px 0 0;
  }
}
