.profile {
  display: flex;
  flex-direction: row;
  max-width: calc(1280px - 2 * 200px);
  align-items: center;

  margin: 40px auto 0;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    margin: 42px auto 0;
  }
}