.footer {
  max-width: calc(1280px - 2 * 200px);
  
  margin: 67px auto 0;
  padding: 0 19px 60px;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 48px auto 0;
    padding: 0 19px 36px;
  }
}