.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
  width: calc(430px - 36px * 2);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);

  margin: auto;
  padding: 36px 36px 36px;
}

@media screen and (max-width: 960px) {
  .popup__container {
    width: calc(282px - 22px * 2);
    padding: 25px 22px;
  }
}
