.popup__info-message {
  /* Иконка */
  width: 120px;
  height: 120px;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 120px auto;

  margin: 0 0 32px;
  padding: 0;
}

@media (max-width: 768px) {
  .popup__info-message {
    /* margin-block: 25px;
    padding-top: 160px; */
  }
}