.popup__profile-line-error {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; /* 15px */
  color: #FF0000;

  display: block;
  height: 24px;

  margin: 0;
  padding: 7px 0 0;
}
