.header {
  max-width: calc(1280px - 2 * 200px);

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "logo menu";
  justify-items: end;
  align-items: center;

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  margin: 0;
  padding: 0 19px;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }

  .header_wrappable {
    grid-template-areas:
      "menu menu"
      "logo button";
  }
}